.iFactrSpan{margin-top:-17px}
.iFactrSmall{display:block;font-size:14px;color:#7f7f7f;line-height:18px;font-weight:normal;}
.iFactrChevronClear { background-image:none !important } 
.iFactrChevron2 { float: right; width: 31px; padding-right: 10px; background-image:none !important }
#iFactrDetailButton { float:right; width: 31px; margin:0px 0px 0 0 } 